@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import 'animations.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: #ffffff;
  color: #333;
  line-height: 1.7;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  /* grid-template-rows: auto 1fr auto 1fr;  */
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}

header {
  grid-area: header;
  background-color: #222;
  padding: 0;
  border-bottom: 4px solid #333;
  z-index: 1000;
}

.logo {
  padding: 5px;
  width: 120px;
  text-align: center;
}

.title-text {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 0;
  margin: 0;
  color: #333;
}

nav {
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: color 0.3s ease;
  background-color: transparent;
  position: relative;
  padding: 10px 0;
  border-radius: 0;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background: #fff;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom right;
}

nav ul li a.active {
  background-color: #222;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.footer-box a {
  color: white;
  text-decoration: none;
}

.footer-box a:hover {
  text-decoration: underline;
}


.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
  background: #555;
  cursor: pointer;
}

@media screen and (max-width: 600px){

  .container {
flex-direction: column;
  }
  nav {
    text-align: center;
    padding: 20px;
  }

  nav ul li {
  margin: 12px;
}

  footer .container{
    display: flex;
    flex-direction: column;
  }
  
}