:root {
    --bg-color: #222;
    --fg-color: #333;
}

main {
    display: grid;
    background-color: #333;
}

#banner-hightlight {
    background-color: #333;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 600px;
}

#banner-hightlight .coffee {
    width: 50%;
    background-image: url('/imags/coffeshop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
}

#banner-hightlight .coffeee:hover {
    cursor: pointer;
    transform: scale(1.03);
     transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: var(--animation-delay, 0s);
}

#banner-hightlight .source {
    width: 50%;
    height: auto;
    background-image: url('/imags/source.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
}

#banner-hightlight .source:hover {
    cursor: pointer;
    transform: scale(1.03);
    transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: var(--animation-delay, 0s);
}

#quote-hightlight .quote {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    font-size: 1.7rem;
    background-color: #222;
}