main {
    background-color: #333;
    color: #fff;
    display: grid;
    grid-template-columns: auto;
}

main .container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container h2 {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

#banner{
    display: grid;
    width: 100%;
    border-radius: 10px;
}

#banner .coffee_blends {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 20px;
    background-image: url('/imags/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    transform: scale(1.03);
    transform: translateY(20px);
    animation: fadeInUp 0.8s forwards;
    animation-delay: var(--animation-delay, 0s);
}
#banner .coffee_blends p {
    background-color: #222;
    opacity: 80%;
    padding: 10px;
}
section {
    display: grid;
}

p.description {
    padding: 10px;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 20px;
}

.card {
    padding: 10px;
}
h1.title {
   margin: 0;
}

.title p {
    font-size: 1.2rem;
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}

.card img {
    background-size: cover;
    width: 100%;
}

.product-info .description {
    background-color: #333;
}

.product-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.product-info .footer {
    position: absolute;
    right: 0;
    left: 0;
    /* background-color: #333; */
    color: #333;
    bottom: 21px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.card .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

button.btn-buy {
    width: 30%;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    p.description {
        padding: 10px;
        margin: 0;
    }
    .container {
        width: 100%;
        padding: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
   #text-body .description {
        flex-direction: column;
    }
    .card p {
        width: 100%;
    }
    h1.title{
        margin: 0;
    }
    nav {
        padding: 0;
    }
    nav ul li a {
        padding: 20px;
    }
    footer .container {
        flex-direction: column;
    }
}